@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #424242;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

$mainColor: #212121;
$mainWhite: #fafafa;
$mainRed: #D32F2F;


@mixin flex($flow: row nowrap, $justify: center, $align: center) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
}

@mixin container {
    width: 90%;
    margin: 0 auto;
}

@mixin link($color: $mainColor, $size: 1.1em, $padding: 7.5px 15px, $transform: uppercase) {
    padding: $padding;
    font-size: $size;
    color: $color;
    text-transform: $transform;
    text-decoration: none;
    cursor: pointer;
}


  